{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{% endblock %}

{% block content %}
    <!-- 헤더 영역 -->
    <header>
        <h1>
            <a href="">Jeon's Blog</a>
        </h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/python.png' %}" alt="the author of blog" />
            <h2>SooKyeong's Blog</h2>
        </header>
        <p>수경의 블로그에 온 것을 환영합니다.</p>
    </section>

    <section id="latest-posts">
        <h2>최근의 포스트</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static 'blog/images/python.png' %}" />
                        <div class="post__content">
                            <h3>포스트 제목</h3>
                            <p>포스트 내용이 작성될 예정입니다.</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
    <h2>What I Do</h2>
    <p>
        세상엔 배울 것이 참 많습니다. 알아가고 경험할 것들이 많죠.
    </p>
    <p>
        효율성을 중요시합니다.
    </p>
    </section>
{% endblock %}
